<footer>
    <div class="container">
        <div class="footer-menu">
            <img
                class="footer-menu__img"
                src="./assets/images/logo.png"
                alt="Logo"
            />

            <ul class="footer-menu__nav">
                <li class="nav-item mx-3">
                    <a class="nav-link" href="members.html">Miembros</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="news.html">Noticias</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="online_festival.html"
                        >Festival online</a
                    >
                </li>
            </ul>

            <div class="footer-menu__social">
                <ul>
                    <li>
                        <img
                            src="./assets/images/social/facebook.png"
                            alt="Facebook"
                        />
                    </li>
                    <li>
                        <img
                            src="./assets/images/social/linkedin.png"
                            alt="Linkedin"
                        />
                    </li>
                    <li>
                        <img
                            src="./assets/images/social/twitter.png"
                            alt="Twitter"
                        />
                    </li>
                </ul>
            </div>
        </div>
        <hr />
        <div class="footer-author">
            <p>Herramientas HTML y CSS aula II</p>
            <p>2022 &copy; Francisco Javier Pérez Arribas</p>
        </div>
    </div>
</footer>
